@font-face {
  font-family: "Radio Canada";
  src: url(/fonts/radiocanada-webfont.woff);
  font-display: swap;
}

html,
.radio-canada {
  font-family: "Radio Canada", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

