<footer>
  <div class="footer-content">
    <p>Theme created by <a href="https://www.timeaton.dev">Tim Eaton</a>.</p>
  </div>
</footer>

<style>
  footer {
    margin-top: auto;
    width: 100%;
    min-height: 200px;
    border-top: 1px solid var(--color-border);
  }

  .footer-content {
    max-width: var(--max-width);
    color: var(--color-text-muted);
    margin: 0 auto;
    padding: 2rem var(--gap);
  }
</style>